
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.neondystopia.com/wp-content/uploads/2017/10/blade3.jpg)">
  <div class="container">
    <%= link_to 'Add a new list ', new_list_path, class: "btn-flat" %>
    <a class="sign" href="/lists">
      <span class="fast-flicker">Mo</span>vie <span class="flicker">Watch</span>list

    </a>
  </div>
</div>


<fieldset class="slideshow">

  <!-- Slide 1 -->
  <label class="slide-button" for="slideCheckbox1">Romance</label>
  <input type="radio" id="slideCheckbox1" name="slide" checked>
  <div class="slide">
    <div class="slide__content">
      </span>
      <h2>ロマンス</h2>
     <a class="btn-flat" href="/lists/1" >Romance</a>

    </div>
  </div>

  <!-- Slide 2 -->
  <label class="slide-button" for="slideCheckbox2">Action</label>
  <input type="radio" id="slideCheckbox2" name="slide">
  <div class="slide">
    <div class="slide__content">
      <h2>アクション</h2>
     <a class="btn-flat" href="/lists/2" >Action</a>
    </div>
  </div>

  <!-- Slide 3 -->
  <label class="slide-button" for="slideCheckbox3">Comedy</label>
  <input type="radio" id="slideCheckbox3" name="slide">
  <div class="slide">
    <div class="slide__content">
      <h2>コメディ</h2>
     <a class="btn-flat" href="/lists/3" >Comedy</a>
    </div>
  </div>

  <!-- Slide 4 -->
  <label class="slide-button" for="slideCheckbox4">Animation</label>
  <input type="radio" id="slideCheckbox4" name="slide">
  <div class="slide">
    <div class="slide__content">
      <h2>アニメーション</h2>
     <a class="btn-flat" href="/lists/4" >Animation</a>
    </div>
  </div>

  <!-- Slide 5 -->
  <label class="slide-button" for="slideCheckbox5">Sci fi</label>
  <input type="radio" id="slideCheckbox5" name="slide">
  <div class="slide">
    <div class="slide__content">
      <h2>サイエンスフィクション</h2>
     <a class="btn-flat" href="/lists/5" >sci fi</a>
    </div>
  </div>
